@font-face {
  font-family: "RixXladywatermelonR";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-4@1.0/RixXladywatermelonR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DungGeunMo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MaplestoryOTFBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.cm {
  font-family: "MaplestoryOTFBold", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 93vh;
  background-color: white;
  margin: 0 15rem;
}

.cm .bg {
  padding: 30px;
  margin: 10px 0;
}

.category-con {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  /* 카테고리들은 왼쪽 정렬 */
  margin-top: -10px;
  margin-right: 10rem;
  margin-bottom: 5rem;
  /* background-image: linear-gradient(to top,
      rgb(148, 148, 148),
      rgb(66, 66, 66)); */
  background-color: white;
}

.cate {
  flex-grow: 1;
  color: black;
  text-decoration-line: none;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 2rem 2rem 0 0;
  line-height: 4rem;
  height: 4rem;
  white-space: nowrap;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.cate:hover {
  font-weight: bold;
  background-color: rgba(148, 148, 148, 0.8);
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
}

.life {
  flex-grow: 1;
  color: white;
  text-decoration-line: none;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  background-color: black;
  border-radius: 2rem 2rem 0 0;
  line-height: 4rem;
  height: 4rem;
  white-space: nowrap;
  position: relative;
  transition: transform 0.3s, background-color 0.3s;

  /* 3D 블록 느낌 추가 */
  perspective: 500px;
  transform: rotateX(10deg) translateZ(10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.cm .card-container {
  border: 1rem solid gainsboro;
  border-radius: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3개의 열로 나누기 */
  max-width: 1000rem;
  margin: 0px auto;
}

.link {
  text-decoration: none;
}

.card {
  height: 15rem;
  width: 25rem;
  border: 3px solid rgb(128, 128, 128);
  padding: 10px;
  border-radius: 1rem;
  flex-direction: column;
  display: flex;
  max-width: 1200px;
  flex: 1;
  margin: 20px;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.199);
  z-index: 1;
}

.card .bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.5;
  z-index: -1;
  /* 배경 느낌을 주기 위한 투명도 조절 */
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.363);
  cursor: pointer;
}

.card .profile img {
  margin: 1rem;
  width: 3vw;
  height: 6vh;
  border: none;
  border-radius: 8rem;
  float: left;
}

.card .profile h3 {
  margin-top: 1rem;
  margin-bottom: 0;
  color: white;
}

.card .profile p {
  margin-top: 10px;
  color: white;
}

.card h1 {
  letter-spacing: 0.2em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1rem;
  color: white;
}

.card p {
  font-size: 1rem;
  color: white;
  margin-left: 1rem;
  margin-top: 1rem;
}

.card .right-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem;
  gap: 5px;
  position: absolute;
  bottom: 1rem;
  right: 0;
}

.card .right-items img {
  width: 20px;
  /* 너비 조정 */
  height: 20px;
  /* 높이 조정 */
  filter: invert(1);
  margin-top: 1rem;
}

.card .right-items p {
  font-size: 20px;
  margin-right: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  /* 버튼을 중앙에 정렬 */
  margin-top: 20px;
  /* 리스트와 버튼 사이의 간격 */
  margin-bottom: 20px;
  position: relative;
}

.page-button {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 3px solid black !important;
  border-radius: 4px;
  padding: 0;
  margin: 15px 4px;
  cursor: pointer;
  font-size: 14px;
  top: -7px;
  position: relative;
  color: black;
  width: 40px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-button:hover {
  background-color: black !important;
  color: white;
}

.page-button.selected {
  background-color: black !important;
  color: white;
}

.write {
  position: absolute;
  /* 절대 위치로 설정 */
  right: 0;
  margin: 0 7rem;
  background-color: black;
  border: 3px solid black;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
  top: -10px;
  color: white;
}
