.intro {
  display: flex;
  justify-content: center;
  align-items: stretch;
  /* background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(85, 85, 85)); */
  background-color: white;
  margin: 0;
  padding: 0 50px;
  /* 이미지 사이 간격을 위해 패딩 추가 */
  gap: 20px;
  /* 각 카드 사이에 간격 추가 */
  transition: all 0.3s ease;
}

.intro .nav-card {
  background-color: rgba(0, 0, 0, 0.596);
  flex: 1;
  text-align: center;
  margin: 150px 40px;
  border-radius: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-origin: center;
}

.intro .nav-card-life {
  background: url(../../assets/image/life.jpg);
  flex: 1;
  text-align: center;
  margin: 150px 40px;
  border-radius: 2rem;
  background-position: center;
  background-size: cover;
  border: 3px solid gray;
  transition: all 0.3s ease;
  position: relative;
  /* 부모 요소에 상대 위치 설정 */
  overflow: hidden;
  text-decoration: none;
  display: inline;
}

.intro .nav-card-health {
  background: url(../../assets/image/health.jpg);
  flex: 1;
  text-align: center;
  margin: 150px 40px;
  border-radius: 2rem;
  background-position: center;
  background-size: cover;
  border: 3px solid gray;
  transition: all 0.3s ease;
  position: relative;
  /* 부모 요소에 상대 위치 설정 */
  overflow: hidden;
  text-decoration: none;
  display: inline;
}

.intro .nav-card-fila {
  background: url(../../assets/image/fila.jpg);
  flex: 1;
  text-align: center;
  margin: 150px 40px;
  border-radius: 2rem;
  background-position: center;
  background-size: cover;
  border: 3px solid gray;
  transition: all 0.3s ease;
  position: relative;
  /* 부모 요소에 상대 위치 설정 */
  overflow: hidden;
  text-decoration: none;
  display: inline;
}

.intro .nav-card-sports {
  background: url(../../assets/image/sports.jpg);
  flex: 1;
  text-align: center;
  margin: 150px 40px;
  border-radius: 2rem;
  background-position: center;
  background-size: cover;
  border: 3px solid gray;
  transition: all 0.3s ease;
  position: relative;
  /* 부모 요소에 상대 위치 설정 */
  overflow: hidden;
  text-decoration: none;
  display: inline;
}

.intro .nav-card-life:hover,
.intro .nav-card-health:hover,
.intro .nav-card-fila:hover,
.intro .nav-card-sports:hover {
  flex-grow: 1.3;
  /* hover 시 너비 증가 */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.intro .nav-card-life:hover ~ .nav-card,
.intro .nav-card-health:hover ~ .nav-card,
.intro .nav-card-fila:hover ~ .nav-card,
.intro .nav-card-sports:hover ~ .nav-card {
  transform: translateX(20px);
  /* 나머지 카드가 옆으로 살짝 밀림 */
}

.intro .nav-card h1 {
  letter-spacing: 0.2em;
  color: white;
}

.intro .nav-card p {
  font-size: 15px;
  color: white;
}
