.community {
  margin: 0;
  margin-bottom: 3rem;
  margin-left: 5rem;
  padding: 0;
  /* background-image: linear-gradient(to top, white, rgb(85, 85, 85)); */
  background-color: white;
  z-index: 0;
}

.commu {
  font-size: 20px;
  margin-bottom: 20px;
  /* 커뮤니티 제목과 카드 사이의 공간을 줄이기 */
  margin-left: 9rem;
  color: black;
}

.community .card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3개의 열로 나누기 */
  max-width: 1000rem;
  margin: 0 8rem;
}

.community .card {
  border: 3px solid rgb(173, 173, 173);
  border-radius: 1rem;
  flex-direction: column;
  display: flex;
  max-width: 1200px;
  flex: 1;
  margin: 20px;
  padding: 1rem 1rem 4rem 1rem;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.199);
  z-index: 1;
}

.card .bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.5;
  z-index: -1;
  /* 배경 느낌을 주기 위한 투명도 조절 */
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.363);
  cursor: pointer;
}

.community .card .profile img {
  margin: 1rem;
  width: 3vw;
  height: 6vh;
  border: none;
  border-radius: 8rem;
  float: left;
}

.community .card .profile h3 {
  margin-top: 1rem;
  margin-bottom: 0;
  color: black;
}

.community .card .profile p {
  margin-top: 0;
  color: white;
}

.community .card h1 {
  letter-spacing: 0.2em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1rem;
  color: green;
}

.community .card p {
  font-size: 15px;
  color: white;
  margin-left: 1rem;
}

.community .card .right-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem;
  gap: 5px;
  position: absolute;
  bottom: 1rem;
  right: 0;
}

.community .card .right-items img {
  width: 24px;
  /* 너비 조정 */
  height: 24px;
  /* 높이 조정 */
  filter: invert(1);
}

.community .card .right-items p {
  font-size: 20px;
}
